@import "./mixins";

$borderRadius: (
        md: 8px,
);

$colours: (
        primaryText: #2c3e50,
        secondaryText: #34495e,
        bright: #ffffff,
        flatGreen: #8e44ad,
        flatBlue: #175882,
        flatTurqoise: #1abc9c,
        flatRed: #e74c3c,
        flatGreyMedium: #7f8c8d,
        flatGreyLight: #bdc3c7,
        flatOrange: #e67e22,
        flatYellow: #f1c40f,
);

$spacing: (
        xxs: px-to-rem(2),
        xs: px-to-rem(6),
        sm: px-to-rem(8),
        md: px-to-rem(12),
        lg: px-to-rem(16),
        xl: px-to-rem(34),
);

$fontSize: (
        xxs: px-to-rem(12),
        xs: px-to-rem(14),
        sm: px-to-rem(15),
        md: px-to-rem(16),
        lg: px-to-rem(23),
        xl: px-to-rem(30),
        xxl: px-to-rem(40),
);

$lineHeight: (
        xs: px-to-rem(22),
        sm: px-to-rem(19),
        md: px-to-rem(20),
        lg: px-to-rem(22),
        xl: px-to-rem(28),
        xxl: px-to-rem(40),
);

$asideWidth: (
  md: 400px,
  lg: 650px,
);
$breakpoints: (
  md: 800px,
  lg: 1200px,
)
